@model CCS.Models.INV.cs_shipmtModel
@using CCS.Models.SYS;
@using CCS.Core;
@using CCS.Common;
@{
    ViewBag.Title = "創建-出貨單主檔";
    Layout = "~/Views/Shared/_Index_LayoutEdit.cshtml";
    List<permModel> perm = (List<permModel>)ViewBag.Perm;
    if (perm == null)
    {
        perm = new List<permModel>();
    }
}

<div class="mvctool bgb">
    @Html.ToolButton("btnSave", "icon-save", "保存", perm, "Save", true)
    @Html.ToolButton("btnReturn", "icon-return", "返回", false)
</div>
<div style="height:35px"></div>
@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.Id)
    @Html.HiddenFor(model => model.EXC_INSDATE)
    @Html.HiddenFor(model => model.EXC_INSDBID)

    <table class="fromEditTable setTextWidth300">
        <tbody>
            <tr>
                <td style="width:100px; text-align:right;">
                    @Html.LabelFor(model => model.VCH_NO)：
                </td>
                <td style="width:310px">
                    @Html.EditorFor(model => model.VCH_NO, new { htmlAttributes = new { @readonly = "readonly" } })
                </td>
                <td>@Html.ValidationMessageFor(model => model.VCH_NO)</td>
            </tr>
            <tr>
                <td style="width:100px; text-align:right;">
                    @Html.LabelFor(model => model.VCH_DT)：
                </td>
                <td style="width:310px">
                    @*@Html.EditorFor(model => model.VCH_DT)*@
                    <input id="VCH_DT" name="VCH_DT" value ="@Model.VCH_DT.ToString("yyyy-MM-dd")" class="easyui-datebox" data-options="formatter:myformatter,parser:myparser,required:true" style="width: 100%;" >
                </td>
                <td>@Html.ValidationMessageFor(model => model.VCH_DT)</td>
            </tr>
            <tr>
                <td style="width:100px; text-align:right;">
                    @Html.LabelFor(model => model.CS_NO)：
                </td>
                <td style="width:310px">
                    @Html.EditorFor(model => model.CS_NO, new { htmlAttributes = new { @readonly="readonly" } })
                </td>
                <td>@Html.ValidationMessageFor(model => model.CS_NO)</td>
            </tr>
            <tr>
                <td style="width:100px; text-align:right;">
                    @Html.LabelFor(model => model.CS_NM)：
                </td>
                <td style="width:310px">
                    @Html.EditorFor(model => model.CS_NM, new { htmlAttributes = new { @readonly = "readonly" } })
                </td>
                <td>@Html.ValidationMessageFor(model => model.CS_NM)</td>
            </tr>
            <tr>
                <td style="width:100px; text-align:right;">
                    @Html.LabelFor(model => model.TO_ADDR)：
                </td>
                <td style="width:310px">
                    @Html.EditorFor(model => model.TO_ADDR)
                </td>
                <td>@Html.ValidationMessageFor(model => model.TO_ADDR)</td>
            </tr>
            <tr>
                <td style="width:100px; text-align:right;">
                    @Html.LabelFor(model => model.CONTACT)：
                </td>
                <td style="width:310px">
                    @Html.EditorFor(model => model.CONTACT)
                </td>
                <td>@Html.ValidationMessageFor(model => model.CONTACT)</td>
            </tr>
            <tr>
                <td style="width:100px; text-align:right;">
                    @Html.LabelFor(model => model.END_CODE)：
                </td>
                <td style="width:310px">
                    @Html.CheckBoxFor(model => model.END_CODE)
                </td>
                <td>@Html.ValidationMessageFor(model => model.END_CODE)</td>
            </tr>
            <tr>
                <td style="width:100px; text-align:right;">
                    @Html.LabelFor(model => model.REMK)：
                </td>
                <td style="width:310px">
                    @Html.EditorFor(model => model.REMK)
                </td>
                <td>@Html.ValidationMessageFor(model => model.REMK)</td>
            </tr>

        </tbody>
    </table>
}
@section scripts{
    
<script type="text/javascript">
    $(document).ready(function () {
        // 下拉選單，客戶
        $('#CS_NO').combogrid({
            required: true,
            panelWidth: 600,
            idField: 'CS_NO',
            textField: 'CS_NO',
            url: 'GetCustList',
            method: 'get',
            columns: [[
            { field: 'CS_NO', title: '客戶編號', width: 50 },
            { field: 'SHORT_NM', title: '客戶簡稱', width: 60 },
            { field: 'FULL_NM', title: '客戶全名', width: 80 },
            { field: 'CONTACTER', title: '聯絡方式', width: 50, align: 'left' },
            { field: 'TEL_NO', title: '電話', width: 80, align: 'left' },
            { field: 'FAX_NO', title: '傳真', width: 80 },
            { field: 'ADDR_IVC', title: '地址', width: 150, align: 'left' }
            ]],
            fitColumns: true,
            onSelect: function (rec) {
                //getGridValue();
                var grid = $("#CS_NO").combogrid("grid");//取得表格物件
                var row = grid.datagrid('getSelected');//取得資料列
                $("#CS_NM").val(row.FULL_NM);
                //$("#CONTACT").val(row.CONTACTER + ' 電話:' + row.TEL_NO + ' 傳真:' + row.FAX_NO);
                //$("#TO_ADDR").val(row.ADDR_IVC);
                //$("#TEL_NO").val(row.TEL_NO);
                //$("#FAX_NO").val(row.FAX_NO);
            }
        });

    });
$(function () {
    $("#btnSave").click(function () {
        if ($("form").valid()) {
            $.ajax({
                url: "@Url.Action("Edit")",
                type: "Post",
                data: $("form").serialize(),
                dataType: "json",
                success: function (data) {
                    if (data.type == 1) {
                        window.parent.frameReturnByMes(data.message);
                        window.parent.frameReturnByReload(true);
                        window.parent.frameReturnByClose()
                    }
                    else {
                        window.parent.frameReturnByMes(data.message);
                    }
                }
            });
        }
        return false;
    });
    $("#btnReturn").click(function () {
         window.parent.frameReturnByClose();
    });
});
</script>
    }