@using CCS.Common;
@using CCS.Models.SYS;
@using CCS.Core;
@{
    ViewBag.Title = "主頁-螺絲庫存管理";
    Layout = "~/Views/Shared/_Index_Layout.cshtml";
    List<permModel> perm = (List<permModel>)ViewBag.Perm;
    if (perm == null)
    {
        perm = new List<permModel>();
    }
}
@section styles{
    <link href="~/Content/easyui-1.5/themes/blue/easyui.css" rel="stylesheet" />
    <style>
    </style>
}
<div class="mvctool">
    <input id="txtQuery"  type="text" class="searchText"  />
    @Html.ToolButton("btnQuery", "icon-search", @Suggestion.Query, true)
    @Html.ToolButton("btnCreate", "icon-add", @Suggestion.Create, perm, "Create", true)
    @Html.ToolButton("btnEdit", "icon-edit", @Suggestion.Edit, perm, "Edit", true)
    @Html.ToolButton("btnDetails", "icon-details", @Suggestion.Details, perm, "Details", true)
    @Html.ToolButton("btnDelete", "icon-remove", @Suggestion.Delete, perm, "Delete", true)
    @Html.ToolButton("btnExport", "icon-export", @Suggestion.Export, perm, "Export", true)
    @Html.ToolButton("btnReload", "icon-reload", @Suggestion.Reload, true)
</div>
<table id="List"></table>

<div id="modalwindow" class="easyui-window" data-options="modal:true,closed:true,minimizable:false,shadow:false"></div>
@section scripts{
@Html.Partial("~/Views/Shared/_Partial_AutoGrid.cshtml")
<script type="text/javascript">
    $(function () {
        $('#List').datagrid({
            url: '@Url.Action("GetList")',
            width: $(window).width() - 10,
            methord: 'post',
            height: $(window).height() - 35,
            fitColumns: true,
            sortName: 'ITEM_NO',
            sortOrder: 'desc',
            idField: 'Id',
            pageSize: 20,
            pageList: [15, 20, 30, 40, 50],
            pagination: true,
            striped: true, //奇偶行是否區分
            singleSelect: true,//單選模式
            //rownumbers: true,//行號
            columns: [[
                { field: 'ITEM_NO', title: '品號', width: 120,sortable:true },
                { field: 'ITEM_NM', title: '品名', width: 80,sortable:true },
                { field: 'ITEM_SP', title: '規格', width: 80,sortable:true },
                { field: 'ITEM_NM_E', title: '英文品名', width: 80,sortable:true },
                { field: 'ITEM_SP_E', title: '英文規格', width: 80,sortable:true },
                { field: 'ADD_DT', title: '建立日期', width: 80, hidden: true },
                { field: 'MDY_USR_NO', title: '修改人員', width: 80, hidden: true },
                { field: 'MDY_DT', title: '修改日期', width: 80, hidden: true },
                { field: 'IP_NM', title: 'IP位址', width: 80, sortable: true },
                { field: 'CP_NM', title: '電腦', width: 80, sortable: true }

            ]]
        });
        var pager = $('#List').datagrid('getPager');
        $(pager).pagination({
            pageSize: 20,
            showPageList: true,
            pageList: [15, 20, 30, 40, 50],
            beforePageText: '第',
            afterPageText: '頁,共{pages}頁',
            displayMsg: '顯示 {from} 到 {to} 筆資料,共 {total} 筆資料'
        });
    });

    //ifram 返回
    function frameReturnByClose() {
        $("#modalwindow").window('close');
    }
    function frameReturnByReload(flag) {
        if (flag)
            $("#List").datagrid('load');
        else
            $("#List").datagrid('reload');
    }
    function frameReturnByMes(mes) {
        $.messageBox5s('提示', mes);
    }
    $(function () {
        $("#btnReload").click(function () {
            frameReturnByReload();
        });
        $("#btnExport").click(function () {
            $("#modalwindow").html("<iframe width='100%' height='98%' scrolling='no' frameborder='0'' src='/SysHelper/ReportControl'></iframe>");
            $("#modalwindow").window({ title: '匯出', width: 320, height: 200, iconCls: 'icon-add' }).window('open');
        });
        $("#btnCreate").click(function () {
            $("#modalwindow").html("<iframe width='100%' height='98%' scrolling='no' frameborder='0'' src='/ITEM/Create'></iframe>");
            $("#modalwindow").window({ title: '新增', width: 700, height: 400, iconCls: 'icon-add' }).window('open');
        });
        $("#btnEdit").click(function () {
            var row = $('#List').datagrid('getSelected');
            if (row != null) {
                $("#modalwindow").html("<iframe width='100%' height='99%'  frameborder='0' src='/ITEM/Edit?id=" + row.Id + "&Ieguid=" + GetGuid() + "'></iframe>");
                $("#modalwindow").window({ title: '編輯', width: 700, height: 430, iconCls: 'icon-edit' }).window('open');
            } else { $.messageBox5s('提示', '@Suggestion.PlaseChooseToOperatingRecords'); }
        });
        $("#btnDetails").click(function () {
            var row = $('#List').datagrid('getSelected');
            if (row != null) {
                $("#modalwindow").html("<iframe width='100%' height='98%' scrolling='no' frameborder='0' src='/ITEM/Details?id=" + row.Id + "&Ieguid=" + GetGuid() + "'></iframe>");
                $("#modalwindow").window({ title: '詳細', width: 500, height: 300, iconCls: 'icon-details' }).window('open');
            } else { $.messageBox5s('提示', '@Suggestion.PlaseChooseToOperatingRecords'); }
	        });
        $("#btnQuery").click(function () {
            var queryStr = $("#txtQuery").val();
            if (queryStr == null) {
                queryStr = "%";
            }
            $('#List').datagrid({
                url: '@Url.Action("GetList")?queryStr=' + encodeURI(queryStr)
            });

        });
        $("#btnDelete").click(function () {
            var row = $('#List').datagrid('getSelected');
            if (row != null) {
                $.messager.confirm('提示', '@Suggestion.YouWantToDeleteTheSelectedRecords', function (r) {
	                    if (r) {
	                        $.post("@Url.Action("Delete")?id=" + row.Id, function (data) {
	                            if (data.type == 1)
	                                $("#List").datagrid('load');
	                            $.messageBox5s('提示', data.message);
	                        }, "json");

	                    }
	                });
	            } else { $.messageBox5s('提示', '@Suggestion.PlaseChooseToOperatingRecords'); }
	        });
    });
</script>
    }