@model CCS.Models.INV.cs_itemstkModel
@using CCS.Core;
@using CCS.Common;
@using CCS.Models.SYS
@{
    ViewBag.Title = "創建";
    Layout = "~/Views/Shared/_Index_LayoutEdit.cshtml";
    List<permModel> perm = (List<permModel>)ViewBag.Perm;
    if (perm == null)
    {
        perm = new List<permModel>();
    }
}

<div class="mvctool bgb">
    @Html.ToolButton("btnSave", "icon-save", "保存", perm, "Save", true)
    @Html.ToolButton("btnReturn", "icon-return", "返回", false)
</div>
<div style="height:35px"></div>
@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.Id)
    <table class="fromEditTable setTextWidth300">
        <tbody>
            <tr>
                <td style="width:100px; text-align:right;">
                    @Html.LabelFor(model => model.ITEM_NO)：
                </td>
                <td style="width:310px">
                    @Html.EditorFor(model => model.ITEM_NO)
                </td>
                <td>@Html.ValidationMessageFor(model => model.ITEM_NO)</td>
            </tr>
            <tr>
                <td style="width:100px; text-align:right;">
                    @Html.LabelFor(model => model.WAHO_NO)：
                </td>
                <td style="width:310px">
                    @Html.EditorFor(model => model.WAHO_NO)
                </td>
                <td>@Html.ValidationMessageFor(model => model.WAHO_NO)</td>
            </tr>
            <tr>
                <td style="width:100px; text-align:right;">
                    @Html.LabelFor(model => model.LOT_NO)：
                </td>
                <td style="width:310px">
                    @Html.EditorFor(model => model.LOT_NO)
                </td>
                <td>@Html.ValidationMessageFor(model => model.LOT_NO)</td>
            </tr>
            <tr>
                <td style="width:100px; text-align:right;">
                    @Html.LabelFor(model => model.CTRL_NO)：
                </td>
                <td style="width:310px">
                    @Html.EditorFor(model => model.CTRL_NO)
                </td>
                <td>@Html.ValidationMessageFor(model => model.CTRL_NO)</td>
            </tr>
            <tr>
                <td style="width:100px; text-align:right;">
                    @Html.LabelFor(model => model.KEG_NO)：
                </td>
                <td style="width:310px">
                    @Html.EditorFor(model => model.KEG_NO)
                </td>
                <td>@Html.ValidationMessageFor(model => model.KEG_NO)</td>
            </tr>
            <tr>
                <td style="width:100px; text-align:right;">
                    @Html.LabelFor(model => model.EMP_NO)：
                </td>
                <td style="width:310px">
                    @Html.EditorFor(model => model.EMP_NO)
                </td>
                <td>@Html.ValidationMessageFor(model => model.EMP_NO)</td>
            </tr>
            <tr>
                <td style="width:100px; text-align:right;">
                    @Html.LabelFor(model => model.EMP_NM)：
                </td>
                <td style="width:310px">
                    @Html.EditorFor(model => model.EMP_NM)
                </td>
                <td>@Html.ValidationMessageFor(model => model.EMP_NM)</td>
            </tr>
            <tr>
                <td style="width:100px; text-align:right;">
                    @Html.LabelFor(model => model.WEIGHT)：
                </td>
                <td style="width:310px">
                    @Html.EditorFor(model => model.WEIGHT)
                </td>
                <td>@Html.ValidationMessageFor(model => model.WEIGHT)</td>
            </tr>
            <tr>
                <td style="width:100px; text-align:right;">
                    @Html.LabelFor(model => model.UNIT_WT)：
                </td>
                <td style="width:310px">
                    @Html.EditorFor(model => model.UNIT_WT)
                </td>
                <td>@Html.ValidationMessageFor(model => model.UNIT_WT)</td>
            </tr>
            <tr>
                <td style="width:100px; text-align:right;">
                    @Html.LabelFor(model => model.COUNT_QTY)：
                </td>
                <td style="width:310px">
                    @Html.EditorFor(model => model.COUNT_QTY)
                </td>
                <td>@Html.ValidationMessageFor(model => model.COUNT_QTY)</td>
            </tr>
            <tr>
                <td style="width:100px; text-align:right;">
                    @Html.LabelFor(model => model.STATUS)：
                </td>
                <td style="width:310px">
                    @Html.EditorFor(model => model.STATUS)
                </td>
                <td>@Html.ValidationMessageFor(model => model.STATUS)</td>
            </tr>
        </tbody>
    </table>
}

@section scripts{

<script type="text/javascript">
$(function () {
    $("#btnSave").click(function () {
        if ($("form").valid()) {
            $.ajax({
                url: "@Url.Action("Create")",
                type: "Post",
                data: $("form").serialize(),
                dataType: "json",
                success: function (data) {
                    if (data.type == 1) {
                        window.parent.frameReturnByMes(data.message);
                        window.parent.frameReturnByReload(true);
                        window.parent.frameReturnByClose()
                    }
                    else {
                        window.parent.frameReturnByMes(data.message);
                    }
                }
            });
        }
        return false;
    });
    $("#btnReturn").click(function () {
         window.parent.frameReturnByClose();
    });
});
</script>    
    
    }