@model CCS.Models.WIR.cs_wire_reciptModel
@using CCS.Models.SYS;
@using CCS.Core;
@using CCS.Common;
@{
    ViewBag.Title = "修改-線材領用";
    Layout = "~/Views/Shared/_Index_LayoutEdit.cshtml";
    List<permModel> perm = (List<permModel>)ViewBag.Perm;
    if (perm == null)
    {
        perm = new List<permModel>();
    }
}


<div class="mvctool bgb">
    @Html.ToolButton("btnSave", "icon-save", "保存", perm, "Save", true)
    @Html.ToolButton("btnReturn", "icon-return", "返回", false)
</div>
<div style="height:35px"></div>
@using (Html.BeginForm())
{
    <div class="alert alert-danger">
        @Html.ValidationSummary(false)
    </div>
    @Html.HiddenFor(model => model.Id)
    @Html.HiddenFor(model => model.EXC_INSDATE)
    @Html.HiddenFor(model => model.EXC_INSDBID)
    <table class="fromEditTable setTextWidth300">
        <tbody>
            <tr>
                <td style="width:100px; text-align:right;">
                    @Html.LabelFor(model => model.MO_VCH_NO)：
                </td>
                <td style="width:310px">
                    @Html.EditorFor(model => model.MO_VCH_NO, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                </td>
                <td>@Html.ValidationMessageFor(model => model.MO_VCH_NO)</td>
            </tr>
            <tr>
                <td style="width:100px; text-align:right;">
                    @Html.LabelFor(model => model.WIRE_ID)：
                </td>
                <td style="width:310px">
                    @Html.EditorFor(model => model.WIRE_ID, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                </td>
                <td>@Html.ValidationMessageFor(model => model.WIRE_ID)</td>
            </tr>
            <tr>
                <td style="width:100px; text-align:right;">
                    @Html.LabelFor(model => model.WEIGHT)：
                </td>
                <td style="width:310px">
                    @Html.EditorFor(model => model.WEIGHT)
                </td>
                <td>@Html.ValidationMessageFor(model => model.WEIGHT)</td>
            </tr>
            <tr>
                <td style="width:100px; text-align:right;">
                    @Html.LabelFor(model => model.REC_DATE)：
                </td>
                <td style="width:310px">
                    <input id="REC_DATE" name="REC_DATE" class="easyui-datebox" data-options="formatter:myformatter,parser:myparser" value="@Model.REC_DATE.ToString("yyyy-MM-dd")" readonly = "readonly"/>
                </td>
                <td>@Html.ValidationMessageFor(model => model.REC_DATE)</td>
            </tr>
           
            <tr>
                <td style="width:100px; text-align:right;">
                    @Html.LabelFor(model => model.REC_EMP)：
                </td>
                <td style="width:310px">
                    @Html.EditorFor(model => model.REC_EMP)
                </td>
                <td>@Html.ValidationMessageFor(model => model.REC_EMP)</td>
            </tr>
          
        </tbody>
    </table>
}
@section scripts{
<script src="~/Content/easyui-1.5/locale/easyui-lang-zh_TW.js"></script>
<script type="text/javascript">
        $(document).ready(function () {
            // 下拉選單，製令
            $('#MO_VCH_NO').combogrid({
                panelWidth: 750,
                idField: 'VCH_NO',
                textField: 'VCH_NO',
                url: 'GetMomtList',
                method: 'get',
                columns: [[
                    { field: 'Id', title: '', width: 80, hidden: true },
                    { field: 'VCH_NO', title: '工令單號', width: 70, sortable: true },
                    { field: 'VCH_DT', title: '工令日期', width: 60, sortable: true },
                    { field: 'ITEM_NO', title: '品號', width: 100, sortable: true },
                    { field: 'PLAN_QTY', title: '預計產量', width: 50, sortable: true },
                    { field: 'HEAD_MARK', title: '頭部記號', width: 50, sortable: true },
                    { field: 'RAWMTRL', title: '材質', width: 50, sortable: true },
                    { field: 'DIAMETER', title: '線徑', width: 50, align: 'right' },
                    { field: 'HEAT_NO', title: '爐號', width: 50 }
                ]],
                fitColumns: true,
                onSelect: function (rec) {
                    //getGridValue();
                    var grid = $("#MO_VCH_NO").combogrid("grid");//取得表格物件
                    var row = grid.datagrid('getSelected');//取得資料列
                    //$("#CO_NO").val(row.VCH_NO);
                    //$("#CO_SR").val(row.VCH_SR);
                    //$("#ITEM_NO").val(row.ITEM_NO);
                    //$("#PLAN_QTY").val(row.QTY);
                }
            });

            // 下拉選單，線材
            $('#WIRE_ID').combogrid({
                panelWidth: 750,
                idField: 'WIRE_ID',
                textField: 'WIRE_ID',
                url: 'GetWiresList',
                method: 'get',
                columns: [[
                     { field: 'Id', title: '', width: 80, hidden: true },
                    { field: 'WIRE_ID', title: '卷號', width: 80, sortable: true },
                    { field: 'CS_WIRE_ID', title: '客戶卷號', width: 90, sortable: true },
                    { field: 'STOCK_DATE', title: '入庫日期', width: 80, sortable: true },
                    { field: 'RAWMTRL', title: '材質', width: 60 },
                    { field: 'DIAMETER', title: '線徑', width: 50 },
                    { field: 'HEAT_NO', title: '爐號', width: 50 },
                    { field: 'WEIGHT', title: '線重', width: 50, align: 'right' },
                    { field: 'STAND_WEIGTH', title: '線架重', width: 50, align: 'right' },
                    { field: 'MARK_NM', title: '廠牌名稱', width: 60 },
                    { field: 'PROCESS_FACTORY', title: '加工廠', width: 60 },
                    { field: 'TYPE_NM', title: '原料種類', width: 60 }
                ]],
                fitColumns: true,
                onSelect: function (rec) {
                    //getGridValue();
                    var grid = $("#WIRE_ID").combogrid("grid");//取得表格物件
                    var row = grid.datagrid('getSelected');//取得資料列
                    //$("#CO_NO").val(row.VCH_NO);
                    //$("#CO_SR").val(row.VCH_SR);
                    //$("#ITEM_NO").val(row.ITEM_NO);
                    //$("#PLAN_QTY").val(row.QTY);
                }
            });

            // 下拉選單，員工
            $('#REC_EMP').combogrid({
                panelWidth: 600,
                idField: 'EMP_NO',
                textField: 'EMP_NO',
                url: 'GetEmpList',
                method: 'get',
                columns: [[
                { field: 'EMP_NO', title: '員工編號', width: 50 },
                { field: 'EMP_NM', title: '姓名', width: 60 },
                { field: 'DEPM_NO', title: '部門編號', width: 80 }
                ]],
                fitColumns: true,
                onSelect: function (rec) {
                    //getGridValue();
                    var grid = $("#REC_EMP").combogrid("grid");//取得表格物件
                    var row = grid.datagrid('getSelected');//取得資料列
                    //$("#EMP_NAME").val(row.EMP_NM);
                }

            });
        });
$(function () {
    $("#btnSave").click(function () {
        if ($("form").valid()) {
            $.ajax({
                url: "@Url.Action("Edit")",
                type: "Post",
                data: $("form").serialize(),
                dataType: "json",
                success: function (data) {
                    if (data.type == 1) {
                        window.parent.frameReturnByMes(data.message);
                        window.parent.frameReturnByReload(true);
                        window.parent.frameReturnByClose()
                    }
                    else {
                        window.parent.frameReturnByMes(data.message);
                    }
                }
            });
        }
        return false;
    });
    $("#btnReturn").click(function () {
         window.parent.frameReturnByClose();
    });
});
</script>
}