@model CCS.Models.SAL.cs_codlModel
@using CCS.Common;
@using CCS.Core;
@using CCS.Models.SYS;
@{
    ViewBag.Title = "修改-訂單明細";
    Layout = "~/Views/Shared/_Index_LayoutEdit.cshtml";
    List<permModel> perm = (List<permModel>)ViewBag.Perm;
    if (perm == null)
    {
        perm = new List<permModel>();
    }
}


<div class="mvctool bgb">
    @Html.ToolButton("btnSave", "icon-save", @Suggestion.Save, perm, "Save", true)
    @Html.ToolButton("btnReturn", "icon-return", @Suggestion.Return, false)
</div>
<div style="height:35px"></div>
@using (Html.BeginForm("Edit", "SAL02", new { Area = "Sales" }, FormMethod.Post, new { Id = "EditForm" }))
{

    <div class="alert alert-danger">
        @Html.ValidationSummary(true)
    </div>
    <table class="fromEditTable setTextWidth300">
        <tbody>

            <tr>
                <td style="width:100px; text-align:right;">
                    @Html.LabelFor(model => model.VCH_NO)：
                </td>
                <td style="width:310px">
                    <input id="VCH_NO" name="VCH_NO" class="easyui-textbox" value="@Model.VCH_NO" readonly="readonly" />

                   @*@Html.HiddenFor(model => model.VCH_NO, new { htmlAttributes = new { @class = "form-control" } })*@
                    @Html.HiddenFor(model => model.ID, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.HiddenFor(model => model.ADD_DT, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.HiddenFor(model => model.CFM_USR_NO, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.HiddenFor(model => model.IP_NM, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.HiddenFor(model => model.CP_NM, new { htmlAttributes = new { @class = "form-control" } })
                </td>
                <td>@Html.ValidationMessageFor(model => model.VCH_NO)</td>
            </tr>
            <tr>
                <td style="width:100px; text-align:right;">
                    @Html.LabelFor(model => model.VCH_SR)：
                </td>
                <td style="width:310px">
                    @Html.EditorFor(model => model.VCH_SR)
                </td>
                <td>@Html.ValidationMessageFor(model => model.VCH_SR)</td>
            </tr>
            <tr>
                <td style="width:100px; text-align:right;">
                    @Html.LabelFor(model => model.ITEM_NO)：
                </td>
                <td style="width:310px">
                    @*@Html.EditorFor(model => model.ITEM_NO)*@
                    @Html.EditorFor(model => model.ITEM_NO, new { htmlAttributes = new { @class = "easyui-combogrid", style = "width: 100%;", data_options = "" } })
                </td>
                <td>@Html.ValidationMessageFor(model => model.ITEM_NO)</td>
            </tr>
            <tr>
                <td style="width:100px; text-align:right;">
                    @Html.LabelFor(model => model.ITEM_NM)：
                </td>
                <td style="width:310px">
                    @Html.EditorFor(model => model.ITEM_NM)
                </td>
                <td>@Html.ValidationMessageFor(model => model.ITEM_NM)</td>
            </tr>
            <tr>
                <td style="width:100px; text-align:right;">
                    @Html.LabelFor(model => model.ITEM_SP)：
                </td>
                <td style="width:310px">
                    @Html.EditorFor(model => model.ITEM_SP)
                </td>
                <td>@Html.ValidationMessageFor(model => model.ITEM_SP)</td>
            </tr>
            <tr>
                <td style="width:100px; text-align:right;">
                    @Html.LabelFor(model => model.CS_ITEM_NO)：
                </td>
                <td style="width:310px">
                    @Html.EditorFor(model => model.CS_ITEM_NO)
                </td>
                <td>@Html.ValidationMessageFor(model => model.CS_ITEM_NO)</td>
            </tr>
            <tr>
                <td style="width:100px; text-align:right;">
                    @Html.LabelFor(model => model.UNIT)：
                </td>
                <td style="width:310px">
                    @*@Html.EditorFor(model => model.UNIT)*@
                    <select id="UNIT" name="UNIT" class="easyui-combobox" style="width:100%;">
                        <option value="PCS"  selected="@(Model.UNIT == "PCS" ? "selected" : "")">PCS</option>
                        <option value="KG" selected="@(Model.UNIT == "KG" ? "selected" : "")">KG</option>
                        <option value="T" selected="@(Model.UNIT == "T" ? "selected" : "")">噸</option>
                    </select>
                </td>
                <td>@Html.ValidationMessageFor(model => model.UNIT)</td>
            </tr>
            <tr>
                <td style="width:100px; text-align:right;">
                    @Html.LabelFor(model => model.QTY)：
                </td>
                <td style="width:310px">
                    @Html.EditorFor(model => model.QTY)
                </td>
                <td>@Html.ValidationMessageFor(model => model.QTY)</td>
            </tr>

            <tr>
                <td style="width:100px; text-align:right;">
                    @Html.LabelFor(model => model.PRC)：
                </td>
                <td style="width:310px">
                    @Html.EditorFor(model => model.PRC)
                </td>
                <td>@Html.ValidationMessageFor(model => model.PRC)</td>
            </tr>
            <tr>
                <td style="width:100px; text-align:right;">
                    @Html.LabelFor(model => model.AMT)：
                </td>
                <td style="width:310px">
                    @Html.EditorFor(model => model.AMT)
                </td>
                <td>@Html.ValidationMessageFor(model => model.AMT)</td>
            </tr>
            <tr>
                <td style="width:100px; text-align:right;">
                    @Html.LabelFor(model => model.PRCV_DT)：
                </td>
                <td style="width:310px">
                    <input id="PRCV_DT" name="PRCV_DT" class="easyui-datebox" data-options="formatter:myformatter,parser:myparser" value="@Model.PRCV_DT.ToString("yyyy-MM-dd")" style="width: 100%;" />
                </td>
                <td>@Html.ValidationMessageFor(model => model.PRCV_DT)</td>
            </tr>

            <tr>
                <td style="width:100px; text-align:right;">
                    @Html.LabelFor(model => model.REMK)：
                </td>
                <td style="width:310px">
                    @Html.EditorFor(model => model.REMK)
                </td>
                <td>@Html.ValidationMessageFor(model => model.REMK)</td>
            </tr>

        </tbody>
    </table>
}
@section scripts{
<script src="~/Scripts/math_func.js"></script>

    <script type="text/javascript">
    $(document).ready(function () {
        // 下拉選單，ITEM製 成品
        $('#ITEM_NO').combogrid({
            panelWidth: 600,
            idField: 'ITEM_NO',
            textField: 'ITEM_NO',
            url: 'GetItemList',
            method: 'get',
            columns: [[
            { field: 'ITEM_NO', title: '料品編號', width: 80 },
            { field: 'ITEM_NM', title: '品名', width: 60 },
            { field: 'ITEM_SP', title: '規格', width: 60 }

            ]],
            fitColumns: true,
            onSelect: function (rec) {
                // 選定後塞值
                var grid = $("#ITEM_NO").combogrid("grid");//取得表格物件
                var row = grid.datagrid('getSelected');//取得資料列
                $("#ITEM_NM").val(row.ITEM_NM);
                $("#ITEM_SP").val(row.ITEM_SP);

            }
        });

        $("#QTY").change(function () {
            getAmt();
        });
        $("#PRC").change(function () {
            getAmt();
        });
        function getAmt() {
            //alert("Handler for .change() called.");
            var qty = $("#QTY").val();
            var price = $("#PRC").val();

            if (isNaN(qty)) {
                alert("請輸入數字!");
                //清空字串
                $("#QTY").val('');
            }
            if (isNaN(price)) {
                alert("請輸入數字!");
                //清空字串
                $("#PRC").val('');
            }

            if (qty != "" && price != "") {
                qty = parseFloat(qty);
                price = parseFloat(price)

                var ttlamt = qty * price;
                //取小數點後 2 位數
                //ttlamt = ttlamt.toFixed(2);
                $("#AMT").val(ttlamt);
            }
        }
    });


$(function () {
    $("#btnSave").click(function () {
                $.ajax({
                    url: "/Sales/SAL02/Edit",
                    type: "Post",
                    data: $("#EditForm").serialize(),
                    dataType: "json",
                    success: function (data) {
                        if (data.type == 1) {
                            window.parent.frameReturnByMes("成功");
                            window.parent.frameReturnByReload(true);
                            window.parent.frameReturnByClose()
                        }
                        else {
                            window.parent.frameReturnByMes("失敗");
                        }
                    }
                });
        });

        $("#btnReturn").click(function () {
            window.parent.frameReturnByClose();
        });

});

   
    </script>
}